<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto" package="com.meuspedidos.catalogo">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="24" />
	<application android:label="Catálogo Meus Pedidos" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:icon="@drawable/Icon"></application>
</manifest>